<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
  <add name="QXQPEntities" connectionString="metadata=res://*/Models.QXQP.csdl|res://*/Models.QXQP.ssdl|res://*/Models.QXQP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O6271AT\ZLY;initial catalog=QXQP;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>