
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Warehouse</title>
    <link href="~/Content/Main/css/icons.css" rel="stylesheet" />
    <link href="~/Content/Main/css/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrapal.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <style>
        .breadcrumb > li + li:before {
            color: #CCCCCC;
            content: "> ";
            padding: 0 5px;
        }

        .layui-elem-fielded legend {
            font-size: 23px;
        }

        .layui-elem-fielded {
            width: 99%;
            margin: 20px 10px 0px 10px;
            padding: 20px 10px;
        }

        h4 {
            text-align: center;
            font-size: 20px;
            font-weight: 300;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .box {
        }
    </style>
</head>
<body>
    @*导航*@
    <ol class="breadcrumb">
        <li>首页</li>
        <li>基础数据</li>
        <li><a href="#">仓库信息设置</a></li>
    </ol>
    <div>
        @*按钮组*@
        <div class="btn-groud">
            <button class="btn btn-warning cancel " type="button" id="Insert"><i class="en-plus3"></i>增加</button>
            <button class="btn btn-primary cancel" type="button" id="Update"><i class="en-tools"></i>修改</button>
            <button class="btn btn-danger delete" type="button" id="Delete"><i class="br-switch"></i>删除</button>
            <button class="btn btn-primary start"><i class="en-upload"></i>导出</button>
            <button class="btn btn-danger delete"><i class="br-switch"></i>关闭</button>
        </div>@*layui-field-title*@
        <fieldset class="layui-elem-fielded ">
            <legend>仓库信息设置</legend>
            @*表格*@
            <div class="col-lg-12" id="" style="margin:15px 5px;">
                <div class=" col-lg-12">
                    <div class="panel-body-bow">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tbWarehouse">
                                <thead>
                                    <tr>
                                        <th w_index="WarehouseID" w_check="true"><input type="checkbox" /></th>
                                        <th w_index="WarehouseNum">仓库编号</th>
                                        <th w_index="WarehouseName">仓库名称</th>
                                        <th w_render="SetState">停用标志</th>
                                        <th w_index="ToDeactivate" w_hidden="true"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div id="layerWarehouse" style="display: none;overflow:hidden;">
            <div class="col-md-12" style="margin-top: 16px">
                <form id="formWarehouse" class="form-horizontal" action="" autocomplete="off">
                    <!--重置表单-->
                    <input type="reset" class="hidden" />
                    <!--隐藏域-->
                    <input type="text" class="hidden" id="WarehouseID" name="WarehouseID" />
                    <div class="form-group">
                        <label class="control-label col-sm-3">仓库编号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="WarehouseNum" name="WarehouseNum" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">仓库名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="WarehouseName" name="WarehouseName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">是否停用</label>
                        <div class="col-sm-8">
                            <select id="ToDeactivate" name="ToDeactivate" class="form-control">
                                <option>--请选择--</option>
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="button" class="btn btn-primary" id="Save">保存</button>
                            <button type="button" class="btn btn-danger layui-layer-close">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/combobox.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script>
        //初始化表格
        var tbWarehouse;
        $(function () {
            tbWarehouse = $.fn.bsgrid.init("tbWarehouse", {
                url: "SelectWarehouse",
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 8,
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置
                //行点击事件
                event: {
                    customRowEvents: {
                        click: function (record, rowIndex, trObj, options) {
                            Check("#tbWarehouse tr", rowIndex + 1);
                        }
                    }
                }
            });
        });
        //自定义事件
        function SetState(record) {
            var ToDeactivate = record.ToDeactivate;
            if (ToDeactivate == true || ToDeactivate == "true") {
                return "<span style='color:red;'>是</span>";
            } else {
                return "<span style='color:blue;'>否</span>";
            }
        }
        //新增按钮的点击事件
        $("#Insert").click(function () {
            //重置表单
            $('#formWarehouse input[type="reset"]').click();
            //弹出layer窗体
            layerIndex = layer.open({
                type: 1,//页面层
                area: ["500px", "280px"],
                title: "新增仓库信息",
                content: $("#layerWarehouse")
            });
        });
        //修改仓库点击事件
        $("#Update").click(function () {//修改点击事件
            $("#formWarehouse").attr("action", "/BasicdataManagment/Warehouse/UpdateWarehouse");//修改时表单的提交地址
            var check = $("#tbWarehouse input:checked");//获取表格中checkbox被选中的个数
            if (check.length == 0) {
                layer.alert("请选择一条信息！", { icon: 6 });
            } else if (check.length > 1) {
                layer.alert("只能选择一条信息！", { icon: 2 });
            } else if (check.length == 1) {
                $.getJSON("/BasicdataManagment/Warehouse/SelectWarehouseByID?WarehouseID=" + check[0].value, function (data) {
                    if (data != null) {
                        console.log(data);
                        $("#WarehouseID").val(data[0].WarehouseID);
                        $("#WarehouseNum").val(data[0].WarehouseNum);
                        $("#WarehouseName").val(data[0].WarehouseName);
                        $("#ToDeactivate").val(data[0].ToDeactivate);
                        YN();

                        //弹出layer窗体
                        layerIndex = layer.open({
                            type: 1,//页面层
                            area: ["500px", "280px"],
                            title: "修改仓库信息",
                            content: $("#layerWarehouse")
                        })
                    } else {
                        layer.alert("未查找到该仓库的数据！", { icon: 2 });
                    }
                });
            }
        });
        function YN() {
            var ss = $("#ToDeactivate").val();
            if (ss == false) {
                $("#ToDeactivate").val("false");
            } else {
                $("#ToDeactivate").val("true");
            }
        }
        //保存
        $("#Save").click(function () {
                var Url = "";
                if ($('#formWarehouse [name="WarehouseID"]').val() == "") {
                    //无仓库ID表单为新增
                    Url = "/BasicdataManagment/Warehouse/InsertWarehouse";
                } else {
                    //有仓库ID表单为修改
                    Url = "/BasicdataManagment/Warehouse/UpdateWarehouse";
                }
                var formDate = $("#formWarehouse").serializeArray();
                $.post(Url, formDate, function (msg) {
                    if (msg == "success") {
                        layer.alert('保存成功', { icon: 1 });
                        //刷新页面
                        location.reload();
                    } else if (msg == "exist") {
                        layer.alert('仓库已存在', { icon: 2 });
                    } else if (msg == "nofull") {
                        layer.alert('请填写完整', { icon: 0 });
                    } else {
                        layer.alert('保存失败', { icon: 2 });
                    }
                });

        })
        //删除
        $("#Delete").click(function () {
            var num = 0;
            var check = $("#tbWarehouse input[type=checkbox]:checked");
            if (check.length > 0) {
                layer.confirm("确认需要删除当前选中的数据?", {
                    icon: 3,
                    btn: ['确认', '取消']
                }, function (layerIndex) {//关闭提示框
                    for (var i = 0; i < check.length; i++) {
                        $.ajax({
                            type: "get",//请求方式
                            async: false,//是否异步
                            url: "DeleteWarehouse?WarehouseID=" + check[i].value,
                            success: function (data) {//成功回调函数
                                if (data) {
                                    num++
                                }
                            }
                        });
                    }
                    tbWarehouse.search();//表格刷新
                    layer.alert(num + "条数据删除成功，"
                        + (check.length - num) + "条数据删除失败",
                    { icon: 1, skin: "layui-layer-molv" });
                });
            } else {//未选择需要删除的数据
                layer.alert('请选择需要删除的数据！', { icon: 0, title: '提示' });

            }
        });
    </script>
</body>
</html>
