
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>warehousing</title>
    <link href="~/Content/Main/css/icons.css" rel="stylesheet" />
    <link href="~/Content/Main/css/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrapal.css" rel="stylesheet" />
    <link href="~/Content/Main/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_gray.min.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/Main/lib/layer/2.4/skin/layer.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrapal.css" rel="stylesheet" />
    <link href="~/Content/layui/css/modules/laydate/default/laydate.css" rel="stylesheet" />
    <link href="~/Content/Main/static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <style>
        .modal input[type="name"], .modal select {
            height: 28px;
        }

        a {
            color: #808080;
        }

            a:hover {
                text-decoration: none;
                color: burlywood;
            }

        ul li {
            padding: 5px 20px;
            text-align: center;
        }

            ul li:hover {
                background: #5bc0de;
            }

        label {
            width: 100%;
            margin-top: 10px;
            text-align: right;
        }

        .breadcrumb {
            padding: 10px 15px;
            margin-bottom: 0px;
            list-style: none;
            background-color: #f5f5f5;
        }

        #Detailedmode tr th, #Detailedmode table tr td:hover {
            /*background: #ffffff;*/
        }

        #Detailedmode table tr th, #Detailedmode table tr td {
            padding: 5px;
            width: 300px;
            text-align: center;
            border: 1px solid #e2e2e2;
            border-collapse: collapse;
        }

        #Detailedmode table {
            border: 1px;
            width: 99.5%;
        }

            #Detailedmode table tr th {
                background-color: #f5f5f5;
                /*border-bottom: 1px solid gray;*/
            }

            #Detailedmode table input, #Detailedmode table select {
                width: 100px;
                margin: 0px;
                border: none;
            }

            #Detailedmode table select {
                width: 100%;
            }

        .Box {
            height: 350px;
            overflow: auto;
        }

        .box {
            border: solid 1px gray;
            width: 100px;
            display: none;
            position: absolute;
            background-color: ghostwhite;
            margin: 0;
            padding: 0;
            list-style-type: none;
            box-shadow: #808080 2px 2px;
        }

            .box > li {
                border-bottom: dashed 1px gray;
                cursor: pointer;
                text-align: center;
                padding: 3px;
            }

                .box > li:hover {
                    background-color: #eee;
                }

        .el-tabs__content {
            height: 350px;
        }

        .modal input, .modal select {
            height: 32px;
        }

        .modal .control-label {
            width: 100px;
            padding-top: 0px;
        }

        .modal .form-group {
            margin: 1px;
        }

        .modal .col-lg-3 {
            width: 16%;
        }

        .modal-body {
            padding-bottom: 0;
        }

        .modal .navsearch {
            height: 50px;
            width: 950px;
            background: #f5f5f5;
            padding: 5px 0;
            border-radius: 3px;
        }

            .modal .navsearch select {
                height: 32px;
            }

            .modal .navsearch input {
                height: 30px;
            }

        .modal button {
            width: 79px;
        }

            .modal button i {
                margin-right: 5px;
            }

        .modal-content {
            width: 985px;
            height: 50%;
            left: -200px;
        }

        .modOne {
            width: 320px;
            height: 480px;
            float: left;
            overflow: auto;
            margin-right: 20px;
            box-shadow: 0 0 20px 1px #eee;
        }

        .modTow {
            width: 580px;
            height: 480px;
            float: left;
            padding: 5px;
            border: 3px solid #f5f5f5;
            box-shadow: 0 0 20px 1px #eee;
            overflow: auto;
        }

        .modTows {
            width: 648px;
            height: 480px;
            float: left;
            padding: 5px 5px 5px 5px;
            border: 3px solid #f5f5f5;
            box-shadow: 0 0 20px 1px #eee;
            overflow: auto;
        }

        table {
            border: 1px;
            width: 99.5%;
        }

        #imgCarPicture {
            border-radius: 5px;
            box-shadow: 0 0 20px 3px #eee;
            width: 250px;
            height: 295px;
            display: block;
        }

        .Tfoot {
            font-size: 15px;
        }

        .modTows input {
            height: 20px;
        }

        #FittingsType {
            padding: 15px;
        }

            #FittingsType li {
                text-align: left;
                font-size: 16px;
                list-style-type: none;
            }

                #FittingsType li:hover {
                    background: #eee;
                    cursor: alias;
                }

                #FittingsType li i {
                    display: inline-block;
                    background: url('../../../../Content/Main/images/smiley_evil.png') no-repeat 0px 5px;
                    width: 20px;
                    height: 20px;
                }

                #FittingsType li .diai {
                    margin-left: 23px;
                }
    </style>
</head>
<body>
    <div>
        @*导航栏*@
        <nav class="breadcrumb" style="margin:0px">
            <i class="Hui-iconfont"></i> <a href=""> 首 页 </a> <span class="c-gray en">&gt;</span> <a href=""> 配 件 销 售 </a>
            <span class="c-gray en">&gt;</span><a href=""> 销 售 出 库 </a>
        </nav>
        @*按钮*@
        <div style="background-color:beige;">
            <button onclick="Insertbtn(0)" style="margin-left:20px" class="btn btn-primary"><i class="Hui-iconfont">&#xe604; </i>新增单</button>
            <button id="ShangChu" onclick="Delectbtn()" class="btn btn-danger"><i class="Hui-iconfont">&#xe609; </i>删除单</button>
            <button id="Savebtn" onclick="Btndsave()" class="btn btn-info"><i class="Hui-iconfont">&#xe632; </i>保存</button>
            <button onclick="ShowDanJu()" class="btn btn-success"><i class="Hui-iconfont">&#xe6a7; </i>选择单据</button>
            <button id="ShenHe" onclick="Audit()" class="btn btn-primary"><i class="Hui-iconfont">&#xe6e1; </i>审核</button>
            <button id="FanShen" onclick="Counteraudit()" class="btn btn-danger"><i class="Hui-iconfont">&#xe6dd; </i>反审核</button>
            <button class="btn btn-success"><i class="Hui-iconfont">&#xe652; </i>打印</button>
        </div>
        @*表单*@
        <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;padding-bottom:20px">
            <legend style="margin-left:50px;text-shadow: 5px 5px 5px gray;font-weight:inherit">销售出库</legend>
            <div class="layui-field-box">
                <form class="form-horizontal" role="form" id="FormSalesorder">
                    <div class="col-lg-12">
                        <input type="text" id="OutboundID" hidden>@*出库ID*@
                        <input type="text" hidden id="Reviewwhet" value="false">@*审核*@
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>出库单号</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control Disabl" disabled id="Stockremoval" name="Stockremoval">
                            </div>

                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>客户编号</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control Disabl" disabled id="CustomerCode" name="CustomerCode">
                                    <span class="input-group-btn">
                                        <button onclick="ShowclientID()" style="width:112%" class="btn btn-primary" type="button" id="Supplier"><i class="en-list2"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>客户名称</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control Disabl" disabled id="CustomerName" name="CustomerName">
                            </div>

                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>开单日期</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control Dates Dated" id="OpenDate" name="OpenDate">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>订单号</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control Disabl" disabled id="SalesorderNum" name="SalesorderNum">
                                    <span class="input-group-btn">
                                        <button style="width:112%" class="btn btn-primary" type="button" id="Supplierw" onclick="Shownumber()"><i class="en-list2"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>按批发价</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control" id="Tradeprice" name="Tradeprice">
                            </div>
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>操作员</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control Disabl" disabled id="Processingman" name="Processingman" value="@ViewBag.UserName">
                            </div>
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>审核人</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control Disabl" disabled id="Therevie" name="Therevie">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>审核日期</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" class="form-control Disabl" disabled id="Auditdates" name="Auditdates">
                            </div>
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>总计</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <input type="text" id="Theamounts" name="Theamount" hidden>
                                <input type="text" class="form-control Disabl" id="Theamount" name="Theamount" disabled>
                            </div>
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>已审核</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <label class="checkbox" style="text-align:left;">
                                    <input class="Disabl" type="checkbox" value="option1" style="height: 20px;width:20px;" disabled id="Reviewwhets" name="Reviewwhet" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-12">
                                <label>备注</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-xs-12">
                                <input type="text" class="form-control" id="Remark" name="Remark">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        @*表格*@
        <div class="col-lg-12" id="Detailedmode" style="margin:15px">
            <el-tabs type="border-card">
                <el-tab-pane label="配件订货明细">
                    <div id="ChuHuoBox" style="height:450px;margin:0px 1.5% 0px 0.5%;box-shadow:0 0 2px 2px #eee;">
                        <table id="tbChuHuo" style="border:1px; width:100%">
                            <tbody>
                                <tr>
                                    <th width='7%' height='20px'>序号</th>
                                    <th width='8%' height='20px'>配件编码</th>
                                    <th width='8%' height='20px'>配件名称</th>
                                    <th width='7%' height='20px'>规格</th>
                                    <th width='7%' height='20px' id="WE">仓库</th>
                                    <th width='7%' height='20px'>车型</th>
                                    <th width='8%' height='20px'>单位</th>
                                    <th width='8%' height='20px'>数量</th>
                                    <th width='8%' height='20px'>单价</th>
                                    <th width='8%' height='20px'>折扣(%)</th>
                                    <th width='8%' height='20px'>金额</th>
                                    <th width='8%' height='20px'>备注</th>
                                </tr>
                            </tbody>
                            <tfoot class="Tfoot">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="en-feather"></i>合计：</td>
                                    <td id="Quantitys">0.00</td>
                                    <td></td>
                                    <td></td>
                                    <td id="Moneys">0.00</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
        <ul id="menuOne" class="box">
            <li onclick="ShowShangPin()"><i class="glyphicon glyphicon-plus"></i> 添 加</li>
            <li onclick="deleteOne()"><i class="glyphicon glyphicon-trash"></i> 删 除</li>
        </ul>
        @*客户模态框*@
        <div class="modal fade col-lg-12" id="clientID">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            车辆选择
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="navsearch">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <form class="form-horizontal" role="form" style="margin-top:2px;">
                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                                        <label class="control-label">名 字</label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 reset" style="margin-top:3px">
                                        <input type="text" class="form-control" id="Obscure" />
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right" style="margin-left:20px">
                                        <button onclick="Inquire()" type="button" class="btn btn-search"><i class="glyphicon glyphicon-search"></i>查 询</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <button onclick="Reset()" type="button" class="btn btn-success" style="margin-left:105px"><i class="glyphicon glyphicon-plus"></i>新 增</button>
                                <button onclick="Btnsave()" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-file"></i>保 存</button>
                                <button onclick="Refresh()" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i>刷 新</button>
                                <button onclick="" type="button" class="btn btn-danger" data-dismiss="modal"><i class="Hui-iconfont">&#xe6dd; </i>关 闭</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top:none;">
                        <div>
                            <div class="modOne">
                                <table id="tbKeHu" ondblclick="Shuangji()" style="width:700px;">
                                    <tr>
                                        <th w_num="total_line">序号</th>
                                        <th w_index="CustomerCode">客户编码</th>
                                        <th w_index="CustomerName">客户</th>
                                        <th w_index="TelePhone">电话</th>
                                        <th w_index="MobilePhone">手机</th>
                                        <th w_index="Contacts">联系人</th>
                                        <th w_index="Address">地址</th>
                                    </tr>
                                </table>
                            </div>
                            @*表单*@
                            <div class="modTow col-lg-12 col-md-12 col-sm-12">
                                <form class="form-horizontal" method="post" role="form" id="KformMaintenanceCus" action="/ProcurementManagment/Salesorder/Newmodification">
                                    <input type="text" hidden id="KSalesCustomerID" name="SalesCustomerID" /> @*销售客户ID*@
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">客户编码</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" hidden id="KCustomerCodes" name="CustomerCode">
                                            <input type="text" class="form-control" disabled id="KCustomerCode" name="CustomerCode">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">区域</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KRegionID" name="RegionID"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">客户名称</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KCustomerName" name="CustomerName">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">客户来源</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KCustomerSouID" name="CustomerSouID"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">地址</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KAddress" name="Address">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">邮编</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KZipCode" name="ZipCode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">全称</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KFullName" name="FullName" onKeyUp="query()">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">拼音码</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KPinYinCode" name="PinYinCode"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">身份证号</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KIdNumber" name="IdNumber">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">联系人</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KContacts" name="Contacts">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">传真</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KFacsimile" name="Facsimile">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">电话</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KTelePhone" name="TelePhone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">手机</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KMobilePhone" name="MobilePhone">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">Email</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KEmai" name="Emai">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">客户等级</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KCustomerLevelID" name="CustomerLevelID"></select>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">客户类别</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KCustomerTypeID" name="CustomerTypeID"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">付款方式</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KPaymentID" name="PaymentID"></select>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">备注</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" class="form-control" id="KRemark" name="Remark">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">业务员</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <select type="text" class="form-control" id="KUserID" name="UserID"></select>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-12">
                                            <label class="control-label">录入人</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                            <input type="text" hidden id="KInputPersons" name="InputPerson" value="@ViewBag.UserName">
                                            <input type="text" class="form-control" id="KInputPerson" value="@ViewBag.UserName" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*订单号模态框*@
        <div class="modal fade col-lg-12" id="number">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            记录定位
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="navsearch">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form class="form-horizontal" role="form">
                                    <div class="col-lg-1 col-md-1 col-sm-1 text-right" style="margin-left:-50px">
                                        <label class="control-label">从</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        <input type="text" class="form-control Dates" id="StarAudit">
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1" style="width:38px;">
                                        <label class="control-label">至</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        <input type="text" class="form-control Dates" id="EndAudit">
                                    </div>

                                    <div class="col-lg-1 col-md-1 col-sm-1 text-right">
                                        <label class="control-label">单号</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 reset" style="margin-top:3px">
                                        <input type="text" class="form-control" id="Salesorded" />
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right" style="margin-left:3px">
                                        <button onclick="Receipted()" type="button" class="btn btn-search"><i class="glyphicon glyphicon-search"></i>查 询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="border-top:none;">
                        <div style="height:500px;width:950px;overflow:auto; box-shadow: 0 0 20px 5px #ddd;">
                            <table id="tbDingdan" style="width:100%">
                                <tr>
                                    <th w_num="total_line">序号</th>
                                    <th w_index="SalesordeID" w_hidden="true">@*</th>订单ID*@
                                    <th w_index="Reviewwhether" w_hidden="true">审核</th>
                                    <th w_render="Reviewwhether">状态</th> @*自定义*@
                                    <th w_index="SalesorderNum">单号</th>
                                    <th w_index="Auditdates">日期</th>
                                    <th w_index="CustomerName">客户名称</th>
                                    <th w_index="Theamount">总金额</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*单据模态框*@
        <div class="modal fade col-lg-12" id="DanJuModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            记录定位
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="navsearch">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form class="form-horizontal" role="form">
                                    <div class="col-lg-1 col-md-1 col-sm-1 text-right" style="margin-left:-50px">
                                        <label class="control-label">从</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        <input type="text" class="form-control Dates" id="StarAudited">
                                    </div>

                                    <div class="col-lg-1 col-md-1 col-sm-1" style="width:38px;">
                                        <label class="control-label">至</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                        <input type="text" class="form-control Dates" id="EndAudited">
                                    </div>

                                    <div class="col-lg-1 col-md-1 col-sm-1 text-right">
                                        <label class="control-label">单号</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 reset" style="margin-top:3px">
                                        <input type="text" class="form-control" id="Salesored" />
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right" style="margin-left:-30px">
                                        <label class="control-label">审核</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 reset" style="margin-top:3px">
                                        <select class="form-control" id="Reviewwhets">
                                            <option value="0">全部</option>
                                            <option value="1">已审核</option>
                                            <option value="2">未审核</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right" style="margin-left:3px">
                                        <button type="button" onclick="Receipteye()" class="btn btn-search"><i class="glyphicon glyphicon-search"></i>查 询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top:none;">
                        <div style="height:500px;width:950px;overflow:auto; box-shadow: 0 0 20px 5px #ddd;">
                            <table id="tbDanJu" style="width:100%">
                                <tr>
                                    <th w_num="total_line">序号</th>
                                    <th w_index="SalesordeID" w_hidden="true"></th>
                                    <th w_index="Reviewwhet" w_hidden="true">审核</th>
                                    <th w_render="Reviewwhet">审核</th>@*自定义*@
                                    <th w_index="DocuState" w_hidden="true">状态</th>
                                    <th w_render="DocuState">状态</th>@*自定义*@
                                    <th w_index="Stockremoval">出库单号</th>
                                    <th w_index="OpenDates">开单日期</th>
                                    <th w_index="CustomerName">客户名称</th>
                                    <th w_index="Theamount">总金额</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*新增商品模态框*@
        <div class="modal fade col-lg-12" id="ShangPinModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            商品类别查找(多选)
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="navsearch">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form class="form-horizontal" role="form">
                                    <div class="col-lg-1 col-md-1 col-sm-2 text-right">
                                        <label class="control-label">快速查找 :</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 reset" style="margin-right:10px">
                                        <select class="form-control" style="height:33px;" id="selectInfoed">
                                            <option>---请选择---</option>
                                            <option value="1">商品类别</option>
                                            <option value="2">商品编码</option>
                                            <option value="3">商品名称</option>
                                            <option value="4">所属车型</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 reset" style="margin-right:170px">
                                        <input type="text" class="form-control" style="height:33px;" id="Infoed" />
                                    </div>
                                    <button onclick="SeleceFittingsInfo()" type="button" class="btn btn-search"><i class="glyphicon glyphicon-search"></i>查 询</button>
                                    <button onclick="FittingSelect()" type="button" class="btn btn-info"><i class="glyphicon glyphicon-ok-sign"></i>选 中</button>
                                    <button onclick="SeleceFittingsInfo()" type="button" class="btn btn-success"><i class="glyphicon glyphicon-refresh"></i>刷 新</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose"><i class="glyphicon glyphicon-remove"></i>关 闭</button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="border-top:none;padding:15px 0px 10px 20px">
                        <div>
                            <div class="modOne" id="FittingsType" style="width:280px">
                                <ul>
                                    <li onclick="SeleceFittingsInfo()">
                                        <i style="background: url('../../../../Content/Main/images/smiley_sleep.png') no-repeat 0px 5px;">
                                        </i> 货品分类 &nbsp;共有<span></span>个类别
                                    </li>
                                </ul>
                            </div>
                            <div class="modTows col-lg-12 col-md-12 col-sm-12">
                                <table id="tbShangPin" style="width:1100px">
                                    <tr>
                                        <th w_index="FittingsInfoID" w_check="true"></th>
                                        <th w_index="FittingsTypeName">商品类别</th>
                                        <th w_index="FittingsCode">配件编码</th>
                                        <th w_index="FittingsName">配件名称</th>
                                        <th w_index="Specification">配件规格</th>
                                        <th w_index="VehicleType">车型</th>
                                        <th w_index="SystemUnit">单位</th>
                                        <th w_index="Intake">进价</th>
                                        <th w_index="SalesPrice">销售价格</th>
                                        <th w_index="SuppliersName">供应商</th>
                                        <th w_index="Remark">备注</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*外部引用*@
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/Main/lib/layer/2.4/layer.js"></script>
    <script src="~/Content/layui/laydate/laydate.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/Main/js/pinying.js"></script>@*拼音码*@
    <script src="~/Content/layui/lay/modules/layer.js"></script>
    <script src="~/Content/js/combobox.js"></script>
    <script>
        var tbKeHu;
        var tbDanJu;
        var tbDingdan;
        var tbShangPin;
        var Chinese = /^[\u0391-\uFFE5]+$/;//只能输入中文
        var Number = /^[0-9]+$/; //只能输入数字
        var Identity = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;//18位身份证号码
        var Phone = /^[1][0-9][0-9]{9}$/;//11位手机号码

        //生成出库单号
        function Chuku() {
            $.post("/ProcurementManagment/warehousing/Removal", function (data) {
                $("#Stockremoval").val(data);
            })
        }
        //生成客户编码
        function Bianma() {
            $.post("/PublicManagment/MaintenanceCus/CustomerNum", function (data) {
                $("#KCustomerCode").val(data);
                $("#KCustomerCodes").val(data);
            })
        }
        //同时绑定多个时间
        function Datetime() {
            lay('.Datetime').each(function () {
                run();
                laydate.render({
                    elem: this
                  , trigger: 'click',
                    type: 'datetime'
                });
            });
            lay('.Dates').each(function () {
                runs();
                laydate.render({
                    elem: this
                  , trigger: 'click',
                    type: 'date'
                });
            });
        }
        //获取系统当前时间
        function run() {
            var time = new Date();//获取系统当前时间
            var year = time.getFullYear();
            var month = time.getMonth() + 1;
            var date = time.getDate();//系统时间月份中的日
            var hour = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            if (month < 10) {
                month = "0" + month;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (hour < 10) {
                hour = "0" + hour;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var newDate = year + "-" + month + "-" + date + " " + hour + ":" + minutes + ":" + seconds;
            $(".Datetime").each(function () {
                $(this).val(newDate);
            })
        }
        function runs() {
            var time = new Date();//获取系统当前时间
            var year = time.getFullYear();
            var month = time.getMonth() + 1;
            var date = time.getDate();//系统时间月份中的日
            var newDates = year + "-" + month + "-" + date;
            $(".Dated").each(function () {
                $(this).val(newDates);
            })
        }
        //页面加载
        $(function () {
            Chuku(); Datetime(); Bianma();
            //客户编码初始化
            tbKeHu = $.fn.bsgrid.init('tbKeHu', {
                url: '/Salesorder/Selectordergoods',
                autoLoad: true,//自动加载
                stripeRows: false,//隔行变色
                rowHoverColor: true,//划过行变色
                showPageToolbar: false,  //是否显示分页工具条，默认值true
                displayBlankRows: false,//是否显示空白行, 默认值true
                pageSize: 10,//分页大小, 如果设置值小于1则不分页且展示全部数据(即自动将pageAll设置为true), 默认值20
                pageSizeSelect: true,// 是否显示分页大小选择下拉框, 配合参数pageSizeForGrid, 默认值false
                pagingLittleToolbar: true,//是否显示精简的图标按钮分页工具条, 默认值false
                event: {//事件
                    customRowEvents: {//当前行事件
                        click: function (record, rowIndex) {//点击事件
                            Backfill(record);
                            query();
                        }
                    }
                }
            })
            Inquire(); XiaLaKuang()
         
            //选择单据初始化
            tbDanJu = $.fn.bsgrid.init('tbDanJu', {
                url: 'SelectOutbound',
                autoLoad: true,
                stripeRows: false,//隔行变色
                rowHoverColor: true,//划过行变色
                displayBlankRows: false,//是否显示空白行, 默认值true
                pageSize: 10,
                pageSizeSelect: true,// 是否显示分页大小选择下拉框, 配合参数pageSizeForGrid, 默认值false
                pagingLittleToolbar: true,//是否显示精简的图标按钮分页工具条, 默认值false
                showPageToolbar: false,  //是否显示分页工具条，默认值true
                pagingToolbarAlign: 'left', //分页工具条的显示位置, 默认值'right'居右, 其他值'left', 'center'
                event: {
                    customRowEvents: {
                        dblclick: function (record, rowIndex) {
                            Documentreturn(record);
                        }
                    }
                }
            })
            Receipteye();

            //订单号初始化
            tbDingdan = $.fn.bsgrid.init('tbDingdan', {
                url: '/ProcurementManagment/warehousing/SelectSalesorder',
                autoLoad: true,
                stripeRows: false,//隔行变色
                rowHoverColor: true,//划过行变色
                displayBlankRows: false,//是否显示空白行, 默认值true
                pageSize: 10,
                pagingLittleToolbar: true,//是否显示精简的图标按钮分页工具条, 默认值false
                showPageToolbar: false,  //是否显示分页工具条，默认值true
                pagingToolbarAlign: 'left', //分页工具条的显示位置, 默认值'right'居右, 其他值'left', 'center'
                event: {
                    customRowEvents: {
                        dblclick: function (record, rowIndex) {
                            numberd(record);
                        }
                    }
                }
            })
            Receipted();

            //商品类别（多选）
            tbShangPin = $.fn.bsgrid.init('tbShangPin', {
                url: '/PublicManagment/MaintenanceCus/SeleceFittingsInfo',
                autoLoad: true,
                stripeRows: false,//隔行变色
                rowHoverColor: true,//划过行变色
                displayBlankRows: false,//是否显示空白行, 默认值true
                pageSize: 10,
                pagingLittleToolbar: true,//是否显示精简的图标按钮分页工具条, 默认值false
                showPageToolbar: false,  //是否显示分页工具条，默认值true
                pagingToolbarAlign: 'left', //分页工具条的显示位置, 默认值'right'居右, 其他值'left', 'center'
                event: {
                    customRowEvents: {
                        click: function (record, rowIndex) {
                            Check("#tbShangPin tr", rowIndex + 1, record);//复选框勾选
                        }
                    }
                }
            })
            SeleceFittingsInfo();        
        })
        //下拉框绑定
        function XiaLaKuang() {
            //客户
            createSelect("KRegionID", "/PublicManagment/CreateSelect/SelectRegion"); //客户区域
            createSelect("KCustomerSouID", "/PublicManagment/CreateSelect/SelectCustomerSou"); //客户来源
            createSelect("KCustomerLevelID", "/PublicManagment/CreateSelect/SelectCustomerLevel"); //客户等级
            createSelect("KCustomerTypeID", "/PublicManagment/CreateSelect/SelectCustomerType"); //客户类别
            createSelect("KPaymentID", "/PublicManagment/CreateSelect/SelectPayment"); //付款方式
            createSelect("KUserID", "/PublicManagment/CreateSelect/SelectUser"); //业务员          
        }
        /********************客户编码模态框---开始*****************************/
        //弹出模态窗
        function ShowclientID() {
            $("#clientID").modal("show");
        }
        //条件查询
        function Inquire() {
            var Customer = $("#Obscure").val();
            if (Customer == null || Customer == undefined) {
                Customer = "";
            }
            tbKeHu.search({ CustomerName: Customer });
        }
        //回填表单
        function Backfill(record) {
            var index = layer.load(0); //0代表加载的风格，支持0-2
            $("#KSalesCustomerID").val(record.SalesCustomerID);//客户ID
            $("#KCustomerCode").val(record.CustomerCode);//客户编码
            $("#KCustomerCodes").val(record.CustomerCode);//客户编码(隐藏)
            $("#KRegionID").val(record.RegionID);//客户区域
            $("#KCustomerName").val(record.CustomerName);//客户名称
            $("#KCustomerSouID").val(record.CustomerSouID);//客户来源
            $("#KAddress").val(record.Address);//地址
            $("#KZipCode").val(record.ZipCode);//邮编
            $("#KFullName").val(record.FullName);//全称
            $("#KPinYinCode").val(record.PinYinCode);//拼音码
            $("#KIdNumber").val(record.IdNumber);//身份证号
            $("#KContacts").val(record.Contacts);//联系人
            $("#KFacsimile").val(record.Facsimile);//传真
            $("#KTelePhone").val(record.TelePhone);//电话
            $("#KMobilePhone").val(record.MobilePhone);//手机
            $("#KEmai").val(record.Emai);//Emai
            $("#KCustomerLevelID").val(record.CustomerLevelID);//客户等级
            $("#KCustomerTypeID").val(record.CustomerTypeID);//客户类别
            $("#KPaymentID").val(record.PaymentID);//付款方式
            $("#KRemark").val(record.Remark);//备注
            $("#KUserID").val(record.UserID);//业务员
            $("#KInputPerson").val(record.InputPerson); //录入人
            $("#KInputPersons").val(record.InputPerson); //录入人(隐藏)
            layer.close(index);//关闭
        };
        //拼音码
        function query() {
            var r = document.getElementById("KFullName").value.trim();
            if (r == "") return;
            var arrRslt = makePy(r);
            //循环将值到下拉框
            var option = null;
            document.getElementById("KPinYinCode").innerHTML = "";//清空下拉框
            var first = document.getElementById("KPinYinCode");
            for (var j = 0; j < arrRslt.length; j++) {
                var obj = document.getElementById("KPinYinCode");
                obj.add(new Option(arrRslt[j]));
            }
        }
        //新增保存
        function Btnsave() {
            var RegionID = $("#KRegionID").val();//客户区域
            var CustomerName = $("#KCustomerName").val();//客户名称
            var CustomerSouID = $("#KCustomerSouID").val();//客户来源
            var Address = $("#KAddress").val();//地址
            var ZipCode = $("#KZipCode").val();//邮编
            var FullName = $("#KFullName").val();//全称
            var PinYinCode = $("#KPinYinCode").val();//拼音码
            var IdNumber = $("#KIdNumber").val();//身份证号
            var Contacts = $("#KContacts").val();//联系人
            var Facsimile = $("#KFacsimile").val();//传真
            var TelePhone = $("#KTelePhone").val();//电话
            var MobilePhone = $("#KMobilePhone").val();//手机
            var Emai = $("#KEmai").val();//Email
            var CustomerLevelID = $("#KCustomerLevelID").val();//客户等级
            var CustomerTypeID = $("#KCustomerTypeID").val();//客户类别
            var PaymentID = $("#KPaymentID").val();//付款方式
            var Remark = $("#KRemark").val();//备注
            var UserID = $("#KUserID").val();//业务员
            if (RegionID == 0) {
                layer.tips('请选择区域!', '#KRegionID');
            } else if (CustomerName == "") {
                layer.tips('请输入客户名称!', '#KCustomerName');
            } else if (!Chinese.test(CustomerName)) {
                layer.tips('只能输入中文', '#KCustomerName');
            } else if (CustomerSouID == 0) {
                layer.tips('请选择客户来源!', '#KCustomerSouID');
            } else if (Address == "") {
                layer.tips('请输入地址!', '#KAddress');
            } else if (ZipCode == "") {
                layer.tips('请输入邮编!', '#KZipCode');
            } else if (FullName == "") {
                layer.tips('请输入全称!', '#KFullName');
            } else if (PinYinCode == "") {
                layer.tips('请输入拼音码!', '#KPinYinCode');
            } else if (IdNumber == "") {
                layer.tips('请输入身份证号!', '#KIdNumber');
            } else if (!Identity.test(IdNumber)) {
                layer.tips('请输入有效证件号码', '#KIdNumber');
            } else if (Contacts == "") {
                layer.tips('请输入联系人!', '#KContacts');
            } else if (!Chinese.test(Contacts)) {
                layer.tips('只能输入中文', '#KContacts');
            } else if (Facsimile == "") {
                layer.tips('请输入传真!', '#KFacsimile');
            } else if (TelePhone == "") {
                layer.tips('请输入电话号码!', '#KTelePhone');
            } else if (MobilePhone == "") {
                layer.tips('请输入手机号码!', '#KMobilePhone');
            } else if (!Phone.test(MobilePhone)) {
                layer.tips('请输入有效手机号码', '#KMobilePhone');
            } else if (Emai == "") {
                layer.tips('请输入Email!', '#KEmai');
            } else if (CustomerLevelID == 0) {
                layer.tips('请选择客户等级!', '#KCustomerLevelID');
            } else if (CustomerTypeID == 0) {
                layer.tips('请选择客户类别!', '#KCustomerTypeID');
            } else if (PaymentID == 0) {
                layer.tips('请选择付款方式!', '#KPaymentID');
            } else if (Remark == "") {
                layer.tips('请输入备注!', '#KRemark');
            } else if (UserID == 0) {
                layer.tips('请选择业务员!', '#KUserID');
            } else {
                //提交
                $("#KformMaintenanceCus").ajaxSubmit(function (data) {
                    if (data == true) {
                        layer.closeAll('loading');
                        layer.msg("保 存 成 功 ！");
                        //刷新
                        Inquire();
                    }
                })
            }
        }
        //清空文本（新增按钮）
        function Reset() {
            //重置表单
            $("#KformMaintenanceCus").resetForm();
            $("#KPinYinCode").html(" ");
            Bianma();
        }
        //刷新
        function Refresh() {
            //重置表单
            $("#KformMaintenanceCus").resetForm();
            Bianma();
            Inquire();

        }
        /********************客户编码模态框---结束******************************/

        /********************订单号模态框---开始********************************/
        //弹出订单号模态窗
        function Shownumber() {
            $("#number").modal("show");
        }
        //多条件查询订单
        function Receipted() {
            var Salesord = $("#Salesorded").val(); //单号
            var StarAuditdate = $("#StarAudit").val(); //时间
            var EndAuditdate = $("#EndAudit").val();
            if (Salesord == null) {
                Salesord = "";
            }
            if (StarAuditdate == null || StarAuditdate == undefined) {
                StarAuditdate = "";
            }
            if (EndAuditdate == null || EndAuditdate == undefined) {
                EndAuditdate = "";
            }
            tbDingdan.search({
                SalesorderNum: Salesord,
                StarAuditdate: StarAuditdate,
                EndAuditdate: EndAuditdate
            });
        }
        //自定义事件
        function Reviewwhether(record) {
            var Reviewwhether = record.Reviewwhether;
            if (Reviewwhether == true || Reviewwhether == "true") {
                return "<span style='color:red;'>未出货</span>";
            } else {
                return "<span style='color:blue;'>未审核</span>";
            }
        }
        //订单回填
        function numberd(record) {
            var index = layer.load(0); //0代表加载的风格，支持0-2
            Insertbtn(0);
            $("#number").modal("hide");//关闭模态窗
            layer.close(index);
            //明细
            $.post("/Salesorder/SelectOerderdetail?SalesordeID=" + record.SalesordeID, function (data) {
                $.each(data, function (i) {
                    var tbChuHuo = $("#tbChuHuo");
                    var length = $("#tbChuHuo tbody tr").last().prevObject.length;
                    var tr = $("<tr><td>" + length + "</td>"//序号
                            + "<td id=WB" + length + ">" + data[i].FittingsCode + "</td><td id=WC" + length + ">" + data[i].FittingsName + "</td>"
                            + "<td id=WD" + length + ">" + data[i].Specification + "</td><td><select id=WE" + length + "></select></td>"
                            + "<td id=WF" + length + ">" + data[i].VehicleType + "</td><td id=WG" + length + ">" + data[i].SystemUnit + "</td>"
                            + "<td onclick='tdclick(this)' id=WH" + length + ">" + data[i].Amount + "</td><td onclick='tdclick(this)' id=WI" + length + ">" + data[i].Unitcost + "</td>"
                            + "<td onclick='tdclick(this)' id=WJ" + length + ">" + data[i].Discount + "</td><td id=WK" + length + ">" + data[i].Money + "</td>"//金额
                            + "<td onclick='tdclick(this)' id=WL" + length + ">" + data[i].Remark + "</tb>" //备注
                            + "<td hidden id=WM" + length + ">" + data[i].FittingsInfoID + "</td><td hidden id=WN" + length + "></td></tr>");
                    tbChuHuo.append(tr);
                    $.ajaxSettings.async = false;//取消异步提交
                    DetailEvent(length);//明细事件
                    createSelect("WE" + length, "/PublicManagment/CreateSelect/SelectWarehouse");
                    $("#WE" + length).val(data[i].WarehouseID);
                })
            })
            $("#SalesordeID").val(record.SalesordeID);//订单ID
            $("#KSalesCustomerID").val(record.SalesCustomerID);//客户ID
            $("#SalesorderNum").val(record.SalesorderNum);  //订单号
            $("#CustomerCode").val(record.CustomerCode);  //客户编码
            $("#CustomerName").val(record.CustomerName); //客户名称
            $("#Remark").val(record.Remark); //备注
            $("#Theamount").val(record.Theamount); //总金额(总计)
        }
        /***********************订单号模态框---结束*****************************/

        /***********************出库页面---开始*********************************/
        //客户回填
        function Shuangji() {
            var rowIndex = tbKeHu.getSelectedRowIndex();
            var record = tbKeHu.getRecord(rowIndex);
            if (rowIndex > -1) {
                $("#clientID").modal("hide");//关闭模态窗
                $("#KSalesCustomerID").val(record.SalesCustomerID);//销售客户ID
                $("#CustomerCode").val(record.CustomerCode);  //客户编码
                $("#CustomerName").val(record.CustomerName); //客户名称
            } else {
                layer.msg("请选择一行数据，再进行操作");
            }
        }
        //新增单
        function Insertbtn(data) {
            Orderdetails();
            //重置明细表格
            $("#Detailedmode tbody tr td").parent("tr").remove();
            //重置表单
            $("#FormSalesorder").resetForm();
            Notauditevent();
            if (data == 0) {
                Chuku(); Datetime();
            }
        }
        //删除单
        function Delectbtn() {
            var OutboundID = $("#OutboundID").val();
            if (OutboundID != "") {
                $.post("DelectOutbound?OutboundID=" + OutboundID, function (data) {
                    if (data) {
                        layer.msg("数 据 删 除 成 功 ！");
                        Insertbtn(0);
                    } else {
                        layer.msg("数 据 删 除 失 败 ！")
                    }
                })
            } else {
                layer.alert('请选择数据再进行删除操作！', {
                    skin: 'layui-layer-lan' //样式类名
                      , closeBtn: 0, anim: 4 //动画类型
                });
            }
        }
        //出库保存
        function Btndsave() {
                var ArrSalesordes = [], ArrSelectOerders = []//声明的数组
                var Customer = $("#CustomerName").val();//客户名称
                var Tradeprice = $("#Tradeprice").val();//按批发价
                var ChuHuolength = $("#tbChuHuo tbody tr").length;//长度
                var Theamount = parseFloat($("#Moneys").text());//明细金额
                $("#Theamount").val(Theamount);//总计
                $("#Theamounts").val(Theamount);//总计（隐藏）
                for (var i = 1; i < ChuHuolength; i++) { //明细构造函数
                    var e = new OutboundDetails(); //构造函数
                    e.WarehouseID = $("#WE" + i).val(); //仓库ID
                    e.VehicleType = $("#WF" + i).text();//车型
                    e.Quantity = $("#WH" + i).text(); //数量
                    e.Unitcosts = $("#WI" + i).text(); //单价
                    e.Discount = $("#WJ" + i).text(); //折扣
                    e.Figure = $("#WK" + i).text(); //金额
                    e.Comments = $("#WL" + i).text(); //备注
                    e.FittingsInfoID = $("#WM" + i).text(); //配件信息ID                                  
                    e.OutboundDetailsID = $("#WN" + i).text(); //出货明细ID
                    ArrSelectOerders.push(e);
                }
                var e = new Outbound();
                e.OutboundID = $("#OutboundID").val();//出货ID
                e.SalesorderNum = $("#SalesorderNum").val();//订单号
                e.Stockremoval = $("#Stockremoval").val();//出库单号
                e.SalesCustomerID = $("#KSalesCustomerID").val();//销售客户ID
                e.OpenDate = $("#OpenDate").val();//开单日期
                e.Tradeprice = $("#Tradeprice").val();//按批发价
                e.Processingman = document.getElementById("Processingman").value;//操作员
                e.Reviewwhet = $("#Reviewwhet").val();//审核否
                e.Therevie = $("#Therevie").val(); //审核人
                e.Auditdates = $("#Auditdates").val(); //审核日期
                e.Theamount = $("#Theamount").val();//总计
                e.Remark = $("#Remark").val();//备注
                ArrSalesordes.push(e);
                if (Customer == "") {
                    layer.tips('客户名称不能为空!', '#CustomerName');
                } else if (!Chinese.test(Customer)) {
                    layer.tips('只能输入中文', '#CustomerName');
                } else if (Tradeprice == "") {
                    layer.tips('按批发价不能为空!', '#Tradeprice');
                } else if (!Number.test(Tradeprice)) {
                    layer.tips('只能输入数字', '#Tradeprice');
                } else {
                    layer.confirm('是否保存当前信息？', {  //提示窗
                        btn: ['保存', '取消']
                    }, function () {
                        var index = layer.load(0); //0代表加载的风格，支持0-2
                        //保存提交
                        $.post("InsertOutbound", {
                            ListOutbound: ArrSalesordes,//出货单
                            ListutboundDetails: ArrSelectOerders, //出货明细
                        }, function (data) {
                            $("#OutboundID").val(data);
                            layer.close(index);
                            if (data != false) {
                                layer.confirm('保存成功！是否立即审核该订单？', {
                                    btn: ['是', '否']
                                }, function () {
                                    Audit(); //审核
                                }, function () {
                                    layer.msg('数 据 保 存 成 功 ！', {
                                        time: 20000,//2s后自动关闭
                                        btn: ['知道了']
                                    });
                                });
                            } else {
                                layer.msg('数 据 保 存 失 败！', {
                                    time: 2000,
                                });
                            }
                        });
                    })
                }
        }
        //审核
        function Audit() {
            var OutboundID = $("#OutboundID").val();
            var SalesorderNum = $("#SalesorderNum").val();
          
            if (OutboundID != "") {
                $("#Reviewwhet").val("true");
                $.post("ToReviewwhet?OutboundID=" + OutboundID + "&SalesorderNum=" + SalesorderNum,
                    function (data) {
                        if (data != false) {
                            layer.alert('审核成功，数据不能调整！', {
                                skin: 'layui-layer-molv'
                          , closeBtn: 0
                            });
                            $("#Therevie").val(data[0]);
                            $("#Auditdates").val(data[1]);
                            tbDingdan.refreshPage(); //刷新订单号表格
                            AuditEvent();//审核状态
                        } else {
                            layer.alert('审核失败，请重新审核！', {
                                skin: 'layui-layer-lan'
                          , closeBtn: 0, anim: 4
                            });
                        }
                    })
            } else {
                layer.alert('请填写完整信息保存后再进行审核操作！', {
                    skin: 'layui-layer-lan' //样式类名
                      , closeBtn: 0, anim: 4 //动画类型
                });
            }
        }
        //反审核
        function Counteraudit() {
            $("#Reviewwhet").val("false");
            var SalesorderNum = $("#SalesorderNum").val();
            $.post("NoToReviewwhet?OutboundID=" + $("#OutboundID").val() + "&SalesorderNum=" + SalesorderNum,
                function (data) {
                    if (data = true) {
                        layer.alert('已取消审核，可以进行数据修改啦！', {
                            skin: 'layui-layer-molv'
                      , closeBtn: 0
                        });
                        $("#Therevie").val("");
                        $("#Auditdates").val("");
                        tbDingdan.refreshPage(); //刷新订单号表格
                        Notauditevent(); //反审核状态
                    } else {
                        layer.alert('取消审核失败，请重新操作！', {
                            skin: 'layui-layer-lan' //样式类名
                      , closeBtn: 0, anim: 4 //动画类型
                        });
                    }
                })
        }
        //审核状态
        function AuditEvent() {
            $("#ShangChu").attr("disabled", true); //删除禁用
            $("#Savebtn").attr("disabled", true); //保存禁用
            $("#ShenHe").attr("disabled", true); //审核禁用
            $("#FanShen").attr("disabled", false); //反审核启用
            $("#FormSalesorder input").attr("disabled", true); //主页面文本框禁用
            $("#FormSalesorder select").attr("disabled", true); //主页面下拉框禁用
            $("#Detailedmode tbody td").attr("onclick", ""); //明细表禁用
            $("#Detailedmode select").attr("disabled", true); //明细表下拉框禁用     
            $("#Supplier").attr("disabled", true); //客户模态框禁用     
            $("#Supplierw").attr("disabled", true); //订单模态框禁用     
            //$("#Reviewwhether").attr("checked", true); //标志已审核                        
        }
        //反审核状态
        function Notauditevent() {
            $("#ShangChu").attr("disabled", false);//删除启用
            $("#Savebtn").attr("disabled", false);//保存启用
            $("#ShenHe").attr("disabled", false);//审核启用
            $("#FanShen").attr("disabled", true);//反审核禁用
            $("#FormSalesorder input").attr("disabled", false);//主页面文本框启用
            $("#FormSalesorder select").attr("disabled", false);//主页面下拉框启用
            $("#Detailedmode tbody td").attr("onclick", "tdclick(this)");//明细表启用       
            $("select").parent("td").attr("onclick", ""); //去除下拉框编辑
            $("#Detailedmode select").attr("disabled", false); //明细表下拉框启用   
            $("#Supplier").attr("disabled", false); //客户模态框启用 
            $("#Supplierw").attr("disabled", false); //订单模态框启用  
            $(".Disable").attr("onclick", ""); //带有“Disable”类的标签依然禁用
            $(".Disabl").attr("disabled", true); //带有“Disable”类的标签依然禁用
            //$("#reviewwhether").attr("checked", false);//标志已审核去掉        
        }
        //判断是审核否    
        function Tofales() {
            if ($("#Reviewwhet").val() == "false" || $("#Reviewwhet").val() == false) {
                Notauditevent();
            } else {
                AuditEvent();
            }
        }

        /***********************出库页面---结束*********************************/

        /***********************明细表格---开始*********************************/
        //订单明细初始化
        function Orderdetails() {
            $("#Quantitys").text("0.00");
            $("#Moneys").text("0.00");
        }
        //右击事件
        $(function () {
            $("body").click(function () {
                resOne.style.display = 'none';
            })
            //阻止浏览器默认右键点击事件
            document.oncontextmenu = function () {
                return false;
            }
            var resOne = document.getElementById('menuOne');   //找到id为box的div
            document.getElementById("ChuHuoBox").onmouseup = function (e) {   //在body里点击触发事件
                if (e.button === 2) {    //如果button=1（鼠标左键），button=2（鼠标右键），button=0（鼠标中间键）
                    resOne.style.top = e.clientY + 'px';   //鼠标点击时给div定位Y轴
                    resOne.style.left = e.clientX + 'px';  //鼠标点击时给div定位X轴
                    resOne.style.display = 'block';    //显示div盒子
                } else {
                    resOne.style.display = 'none';     //否则不显示div盒子
                }
            }
        })
        //明细事件
        function DetailEvent(length) {
            Money();
            function Money() {
                //计算金额
                var Quantity = 0;
                var Money = 0;
                for (var i = 1; i < length + 1; i++) {//数量
                    if ($("#WH" + i).text() != "") {
                        Quantity = parseFloat(Quantity) + parseFloat($("#WH" + i).text()) + ".00";
                        $("#Quantitys").text(Quantity)
                    }
                    if ($("#WK" + i).text() != "") {//金额
                        Money = parseFloat(Money) + parseFloat($("#WK" + i).text());
                        $("#Moneys").text(Money)
                    }
                }
            }
            $("#Detailedmode").click(function () {
                var shulisng = $("#WH" + length).text(); //数量
                var Openprice = $("#WI" + length).text(); //单价
                //数量WH、单价WI、百分比WJ
                var calculate = $("#WI" + length).text() * $("#WJ" + length).text() / 100 * $("#WH" + length).text();
                $("#WK" + length).text(calculate);
                //仓库
                if ($("#WE" + length).val() == 0) {
                    layer.tips('请选择仓库!', '#WE' + length);
                }
                Money();
            })
        }
  
        //删除配件出库明细行
        function deleteOne() {
            var length = $("#tbChuHuo").find("tr").length;
            if (length > 1) {
                $("#tbChuHuo tbody").find("tr").last().remove();//找到最后一个选项然后删除
                Orderdetails();
                DetailEvent(length);
            }
        }
        /***********************明细表格---结束*********************************/

        /***********************商品类别---开始*********************************/
        //弹出商品类别模态框
        function ShowShangPin() {
            var InfoOne = "", InfoTow = "", InfoThree = "", InfoFour = "", FittingsTypeID = 0;
            $.post("/PublicManagment/MaintenanceCus/SelectFittingsType", function (data) { //提交
                $("#FittingsType span").html(data.length); //获取长度
                $("#FittingsType ul .lishow").html("");//清空
                $.each(data, function (i) {
                    $("#FittingsType ul").append('<li id=' + data[i].FittingsTypeID + ' class="lishow"><i class="diai"></i>'
                                                           + data[i].FittingsTypeName + ' (' + data[i].FittingsTypeNum + ')</li>');
                    FittingsTypeID = data[i].FittingsTypeID;
                    $("#" + FittingsTypeID).click(function () {
                        $("#FittingsType li").removeClass("active"); //移除类
                        $(this).addClass("active");
                        tbShangPin.search({
                            InfoOne: InfoOne,
                            InfoTow: InfoTow,
                            InfoThree: InfoThree,
                            InfoFour: InfoFour,
                            FittingsTypeID: this.id
                        });
                    })
                })
            })
            tbShangPin.refreshPage();//刷新
            $("#ShangPinModal").modal("show");
        }
        //商品表格查询（条件查询）
        function SeleceFittingsInfo() {
            var InfoOne = "", InfoTow = "", InfoThree = "", InfoFour = "", FittingsTypeID = 0;
            var Info = $("#Infoed").val();
            var selectInfo = $("#selectInfoed").val();
            if (selectInfo == "1") InfoOne = Info;
            if (selectInfo == "2") InfoTow = Info;
            if (selectInfo == "3") InfoThree = Info;
            if (selectInfo == "4") InfoFour = Info;
            tbShangPin.search({
                InfoOne: InfoOne,
                InfoTow: InfoTow,
                InfoThree: InfoThree,
                InfoFour: InfoFour,
                FittingsTypeID: FittingsTypeID
            });
        }
        //商品材料选中回填
        function FittingSelect() {
            var tbChuHuo = $("#tbChuHuo");
            var rowRecords = tbShangPin.getCheckedRowsRecords();
            for (var i = 0; i < rowRecords.length; i++) {
                var length = $("#tbChuHuo tbody tr").last().prevObject.length;
                var tr = $("<tr><td>" + length + "</td>"//序号
                             + "<td id=WB" + length + " class='Disable'>" + rowRecords[i].FittingsCode + "</td>"//配件编码
                             + "<td id=WC" + length + " class='Disable'>" + rowRecords[i].FittingsName + "</td>"//配件名称
                             + "<td id=WD" + length + " class='Disable'>" + rowRecords[i].Specification + "</td>"//配件规格
                             + "<td><select id=WE" + length + "></select></td>"//仓库
                             + "<td id=WF" + length + " class='Disable'>" + rowRecords[i].VehicleType + "</td>"//所属车型
                             + "<td id=WG" + length + " class='Disable'>" + rowRecords[i].SystemUnit + "</td>"//系统单位
                             + "<td onclick='tdclick(this)' id=WH" + length + ">1.00</td>"//数量
                             + "<td onclick='tdclick(this)' id=WI" + length + ">" + rowRecords[i].SalesPrice + "</td>"//开单价(销售价格)
                             + "<td onclick='tdclick(this)' id=WJ" + length + ">100</td>"//折扣(%)
                             + "<td id=WK" + length + " class='Disable'></td>"//金额
                             + "<td onclick='tdclick(this)'id=WL" + length + "></tb>"//备注
                             + "<td hidden id=WM" + length + ">" + rowRecords[i].FittingsInfoID + "</td></tr>"); //配件ID
                tbChuHuo.append(tr);
                DetailEvent(length);
                createSelect("WE" + length, "/PublicManagment/CreateSelect/SelectWarehouse");
                $("#ShangPinModal").modal("hide");
            }
        }
        /***********************商品类别---结束*********************************/

        /***********************选择单据---开始*********************************/
        //弹出单据模态框
        function ShowDanJu() {
            Receipteye();
            $("#DanJuModal").modal("show");
        }
        //多条件查询
        function Receipteye() {
            var Salesords = $("#Salesored").val(); //单号
            var Review = $("#Reviewwhets").val(); //审核
            var StarAuditdate = $("#StarAudited").val(); //时间
            var EndAuditdate = $("#EndAudited").val();
            if (Salesords == null) {
                Salesords = "";
            }
            if (Review == null || Review == undefined) {
                Review = "0";
            }
            if (StarAuditdate == null || StarAuditdate == undefined) {
                StarAuditdate = "";
            }
            if (EndAuditdate == null || EndAuditdate == undefined) {
                EndAuditdate = "";
            }
            tbDanJu.search({
                Stockremoval: Salesords,
                Reviewwhet: Review,
                StarAuditdate: StarAuditdate,
                EndAuditdate: EndAuditdate
            });
        }
        //自定义事件
        function Reviewwhet(record) {
            var Reviewwhet = record.Reviewwhet;
            if (Reviewwhet == true || Reviewwhet == "true") {
                return "<span style='color:red;'>已审核</span>";
            } else {
                return "<span style='color:blue;'>未审核</span>";
            }
        }
        function DocuState(record) {
            var DocuState = record.DocuState;
            if (DocuState == "已退货") {
                return "<span style='color:red;'>已退货</span>";
            } else {
                return "<span style='color:blue;'>未退货</span>";
            }
        }
        //单据回填
        function Documentreturn(record) {
            var index = layer.load(0); //0代表加载的风格，支持0-2
            Insertbtn(1);
            //订单明细  
            $.post("SelectOutboundDetails?OutboundID=" + record.OutboundID, function (data) {        
                $.each(data, function (i) {
                    var tbChuHuo = $("#tbChuHuo");
                    var length = $("#tbChuHuo tbody tr").last().prevObject.length;
                    var tr = $("<tr><td>" + length + "</td>"//序号
                            + "<td id=WB" + length + " class='Disable'>" + data[i].FittingsCode + "</td><td id=WC" + length + " class='Disable'>" + data[i].FittingsName + "</td>"
                            + "<td id=WD" + length + " class='Disable'>" + data[i].Specification + "</td><td><select id=WE" + length + "></select></td>"
                            + "<td id=WF" + length + " class='Disable'>" + data[i].VehicleType + "</td><td id=WG" + length + " class='Disable'>" + data[i].SystemUnit + "</td>"
                            + "<td onclick='tdclick(this)'id=WH" + length + ">" + data[i].Quantity + "</td><td onclick='tdclick(this)' id=WI" + length + ">" + data[i].Unitcosts + "</td>"
                            + "<td onclick='tdclick(this)'id=WJ" + length + ">" + data[i].Discount + "</td><td id=WK" + length + " class='Disable'>" + data[i].Figure + "</td>"
                            + "<td onclick='tdclick(this)'id=WL" + length + ">" + data[i].Comments + "</tb>"
                            + "<td hidden id=WM" + length + ">" + data[i].FittingsInfoID + "</td><td hidden id=WN" + length + ">" + data[i].OutboundDetailsID + "</td></tr>");
                    tbChuHuo.append(tr);
                    $.ajaxSettings.async = false;//取消异步提交
                    DetailEvent(length);//明细事件
                    createSelect("WE" + length, "/PublicManagment/CreateSelect/SelectWarehouse");
                    $("#WE" + length).val(data[i].WarehouseID);
                })
            })
            $("#DanJuModal").modal("hide");//关闭模态窗
            $("#OutboundID").val(record.OutboundID);//出库ID
            $("#KSalesCustomerID").val(record.SalesCustomerID);//销售客户ID
            $("#Stockremoval").val(record.Stockremoval);//出库单号
            $("#SalesorderNum").val(record.SalesorderNum);//订单号
            $("#CustomerCode").val(record.CustomerCode);//客户编码
            $("#CustomerName").val(record.CustomerName);//客户名称
            $("#OpenDate").val(record.OpenDates);//开单日期
            $("#Tradeprice").val(record.Tradeprice);//按批发价
            $("#Processingman").val(record.Processingman);//操作员
            $("#Reviewwhet").val(record.Reviewwhet);//审核否
            $("#Therevie").val(record.Therevie);//审核人
            $("#Auditdates").val(record.Auditdate);//审核日期
            $("#Theamount").val(record.Theamount);//总计
            $("#Remark").val(record.Remark);//备注
            Tofales();
            layer.close(index);
        }
        /***********************选择单据---结束*********************************/
        //出库构造函数
        function Outbound(OutboundID, SalesCustomerID, Stockremoval, SalesorderNum, OpenDate, Tradeprice, Processingman, Reviewwhet, Therevie, Theamount, Remark, Auditerdate) {
            this.OutboundID = OutboundID;//出库ID
            this.SalesCustomerID = SalesCustomerID; //销售客户ID
            this.Stockremoval = Stockremoval;//出库单号
            this.SalesorderNum = SalesorderNum;//订单号
            this.OpenDate = OpenDate;//开单时间
            this.Tradeprice = Tradeprice;//按批发价
            this.Processingman = Processingman;//操作员
            this.Reviewwhet = Reviewwhet;//审核否
            this.Therevie = Therevie;//审核人
            this.Theamount = Theamount;//总计
            this.Remark = Remark;//备注
            this.Auditdates = Auditdates;//审核日期
        }
        //出库明细构造函数
        function OutboundDetails(OutboundDetailsID, FittingsInfoID, WarehouseID, VehicleType, Quantity, Discount, Figure, Unitcosts, Comments) {
            this.OutboundDetailsID = OutboundDetailsID;//销售出库明细ID
            this.FittingsInfoID = FittingsInfoID;//配件信息ID
            this.WarehouseID = WarehouseID;//仓库ID
            this.VehicleType = VehicleType //车型
            this.Quantity = Quantity;//数量
            this.Discount = Discount;//折扣
            this.Figure = Figure;//金额
            this.Unitcosts = Unitcosts;//单价
            this.Comments = Comments;//备注
        }

    </script>

</body>
</html>
